.container {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.search-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#search-criteria {
  padding: 5px;
  font-size: 16px;
}

#search-input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

button[type="submit"] {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#quickSearchFormBtn,
#inspectionFormBtn {
  font-size: 18px;
  padding: 10px 20px;
  white-space: nowrap;
  margin-top: 1.5rem;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  background: #f5f5f5;
  border: none;
}

#show-login {
  position: fixed;
  right: 200px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  background: #f5f5f5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.jumbotron{
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 4rem 2rem;
}

hr {
  border: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}
