<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Contrevenants</h1>
    <hr class="my-4">


    <form id="searchForm" method="GET" action="http://127.0.0.1:5000/handle_search">
      <div class="search-option">
        <label for="search-criteria">Search by: </label>
        <select id="search-criteria" name="search-criteria">
          <option value="establishment-name">Establishment Name</option>
          <option value="owner-name">Owner Name</option>
          <option value="street-name">Street Name</option>
        </select>
        <input type="text" id="search-input" name="search-input" placeholder="Enter search term">
        <button type="submit">Search</button>
      </div>
    </form>

    <button id="show-login">Login</button>


  </div>
</div>


<!--<div class="container">-->
<!--  <form id="searchForm" method="GET" action="http://127.0.0.1:5000/handle_search">-->
<!--    <div class="search-option">-->
<!--      <label for="search-criteria">Search by: </label>-->
<!--      <select id="search-criteria" name="search-criteria">-->
<!--        <option value="establishment-name">Establishment Name</option>-->
<!--        <option value="owner-name">Owner Name</option>-->
<!--        <option value="street-name">Street Name</option>-->
<!--      </select>-->
<!--      <input type="text" id="search-input" name="search-input" placeholder="Enter search term">-->
<!--      <button type="submit">Search</button>-->
<!--    </div>-->
<!--  </form>-->

<!--  <button id="show-login">Login</button>-->
<!--  <div class="button-container">-->
<!--    <button id="quickSearchFormBtn" (click)="onDisplayQuickSearchForm()">Quick Search</button>-->
<!--    <button id="inspectionFormBtn" (click)="onDisplayInspectionForm()">Inspection</button>-->
<!--  </div>-->
<!--</div>-->

<div class="button-container">
  <button id="quickSearchFormBtn" (click)="onDisplayQuickSearchForm()">Quick Search</button>
  <button id="inspectionFormBtn" (click)="onDisplayInspectionForm()">Inspection</button>
</div>
<app-quick-search [showQuickSearchForm]="showQuickSearchForm"></app-quick-search>
<app-inspection [showInspectionForm]="showInspectionForm"></app-inspection>
