.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

#search-criteria {
    padding: 5px;
    font-size: 16px;
}

#search-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

#searchTitle {
    text-align: center;
}

button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.closeButton {
    cursor: pointer;
    font-size: 16px;
}

#parentContainer {
    display: block;
    align-items: center;
    margin-left: 10px;
}

.rolling-list {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin-left: 10px;
}

.search-option-recherecher {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.dm-criteria {
    display: none;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px; /* Increase the font size */
    padding: 10px; /* Add padding to increase element size */
}
