body {
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    font-family: "Raleway", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#hiddenForm {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#displayFormButton {
    align-items: center;
    font-size: 18px; /* Increase the font size */
}

#lawsuits {
    text-align: center;
}

#search-criteria {
    padding: 5px;
    font-size: 16px;
}

#search-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

#searchTitle {
    text-align: center;
}

button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.closeButton {
    cursor: pointer;
    font-size: 16px;
}

#parentContainer {
    display: block;
    align-items: center;
    margin-left: 10px;
}

.rolling-list {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin-left: 10px;
}

.search-option-rechercher {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 1px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.dm-criteria {
    display: none;
    align-items: center;
}

#resultsTable {
    padding: 40px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.center button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.center-signup {
    position: absolute;
    bottom: 10%;
    transform: translate(-50%, 50%);
    left : 20%
}

.center-signup button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f1;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

    text-decoration: none;
}
.popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%); scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup-signup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}


.popup-signup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%); scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup .close-btn, .popup-signup .close-btn,
.popup-signup .close-btn, .popup-signup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .login-form h2, .popup-signup .login-form h2,
.popup-signup .login-form h2, .popup-signup .login-form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .login-form .form-element, .popup-signup .login-form .form-element,
.popup-signup .login-form .form-element, .popup-signup .login-form .form-element {
    margin: 15px 0px;
}

.popup .login-form .form-element label,
.popup-signup.login-form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .login-form .form-element input[type="text"],
.popup .login-form .form-element input[type="password"], .popup-signup .login-form .form-element input[type="Name"],
.popup-signup .login-form .form-element input[type="text"] {
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup, .popup-signup .login-form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup .login-form .form-element button, .popup-signup .login-form .form-element button,
.popup-signup .login-form .form-element button, .popup-signup .login-form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .login-form .form-element a, .popup-signup .login-form .form-element a,
.popup-signup .login-form .form-element a, .popup-signup .login-form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}
