<div class="popup-signup">
  <div class="close-btn">&times;</div>
  <div class="login-form">
    <h2>Log in</h2>
    <div class="form-element">
      <label for="nom-signup">Name</label>
      <input type="text" id="nom-signup" placeholder="Enter full name">
    </div>
    <div class="form-element">
      <label for="email-signup">Email</label>
      <input type="text" id="email-signup" placeholder="Enter email">
    </div>
    <div class="form-element">
      <label for="establishments-signup">Monitored Establishments</label>
      <select id="establishments-signup">
        <option value="">Select an establishment</option>
        <!-- Options will be dynamically added here -->
      </select>
      <input type="text" id="establishments-input" name="establishments">
    </div>
    <div class="form-element">
      <label for="password-signup">Password</label>
      <input type="text" id="password-signup" placeholder="Enter password">
    </div>
    <div class="form-element" id="signup-button">
      <button>Sign up</button>
    </div>
  </div>
</div>

