<!DOCTYPE html>
<html>
<head>
    <title>API Documentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/raml2html/dist/raml2html.min.css">
</head>
<body>
<div id="documentation"></div>

<script src="https://cdn.jsdelivr.net/npm/raml2html/dist/raml2html.min.js"></script>
<script>
    // Use AJAX or other means to fetch the RAML content
    const ramlContent = "{{ raml_content|safe }}";

    // Render the RAML content
    raml2html.parse(ramlContent, function (err, html) {
        if (err) {
            console.error(err);
            return;
        }

        // Display the rendered HTML in the documentation div
        const documentationDiv = document.getElementById('documentation');
        documentationDiv.innerHTML = html;
    });
</script>
</body>
</html>
