<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lawsuits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
<h1 id="lawsuits">Lawsuits</h1>
<button id="loginButton">Login</button>

<div class="popup-signup">
    <div class="close-btn">&times;</div>
    <div class="login-form">
        <h2>Log in</h2>
        <div class="form-element">
            <label for="nom-signup">Name</label>
            <input type="text" id="nom-signup" placeholder="Enter full name">
        </div>
        <div class="form-element">
            <label for="email-signup">Email</label>
            <input type="text" id="email-signup" placeholder="Enter email">
        </div>
        <div class="form-element">
            <label for="establishments-signup">Monitored Establishments</label>
            <input type="text" id="establishments-signup" placeholder="Enter establishments (comma-separated)">
        </div>
        <div class="form-element">
            <label for="password-signup">Password</label>
            <input type="text" id="password-signup" placeholder="Enter password">
        </div>
        <div class="form-element" id="signup-button">
            <button>Sign up</button>
        </div>
    </div>
</div>



<div class="popup">
    <div class="close-btn">&times;</div>
    <div class="login-form">
        <h2>Log in</h2>
        <div class="form-element">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter email">
        </div>
        <div class="form-element">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter password">
        </div>
        <div class="form-element">
            <input type="checkbox" id="remember-me">
            <labe for="remember-me">Remember me</labe>
        </div>
        <div class="form-element">
            <button>Sign in</button>
        </div>
        <div class="form-element">
            <a href="#">Forgot Password</a>
        </div>
        <div class="center-signup">
            <button id="show-signup">Sign up</button>
        </div>
    </div>
</div>


<div class="container">
    <form id="searchForm" method="POST" action="{{ url_for('handle_search') }}">
        <div class="search-option">
            <label for="search-criteria">Search by: </label>
            <select id="search-criteria" name="search-criteria">
                <option value="establishment-name">Establishment Name</option>
                <option value="owner-name">Owner Name</option>
                <option value="street-name">Street Name</option>
            </select>
            <input type="text" id="search-input" name="search-input" placeholder="Enter search term">
            <button type="submit">Search</button>
<!--            <div class="center">-->
<!--            </div>-->
        </div>
    </form>

    <button id="show-login">Login</button>
    <button id="displayFormButton">Display Form</button>
</div>
<div id="resultsContainer"></div>



<div id="hiddenForm" style="display: none;">
    <h1 id="searchTitle">Formulaire de recherche rapide</h1>
    <div class="container">
        <form id="searchFormDate">
            <div class="search-option-rapide">
                <label for="date1">Date 1:</label>
                <input type="date" id="date1" name="date1">
            </div>
            <div class="search-option-rapide">
                <label for="date2">Date 2:</label>
                <input type="date" id="date2" name="date2">
            </div>
            <div class="rolling-list">
                <label>Restaurant:</label>
                <select id="restaurant-list">
                    <option value="">Select a restaurant</option>
                    <!-- Options will be dynamically added here -->
                </select>
            </div>
            <div class="search-option-rechercher">
                <button id="button-rechercher" type="submit">Rechercher</button>
                <div id="parentContainer">
                    <button id="closeButton" class="closeButton">Close</button>
                </div>
            </div>

        </form>
        <div class="dm-criteria">
            <label for="dm-criteria-options">Action:</label>
            <select id="dm-criteria-options" name="dm-search-criteria">
                <option value="Modify">Modify</option>
                <option value="Delete">Delete</option>
            </select>
            <input type="text" id="md-search-input" name="search-input" placeholder="Establishment name">
            <button id="applyButton" type="submit">Apply</button>
        </div>

        <div id="resultsTable"></div>
    </div>
</div>
<form id="inspection-form">
    <label for="establishment">Nom de l'établissement:</label>
    <input type="text" id="establishment" required>

    <label for="address">Adresse:</label>
    <input type="text" id="address" required>

    <label for="city">Ville:</label>
    <input type="text" id="city" required>

    <label for="visit-date">Date de la visite:</label>
    <input type="date" id="visit-date" required>

    <label for="client-name">Nom du client:</label>
    <input type="text" id="client-name" required>

    <label for="client-surname">Prénom du client:</label>
    <input type="text" id="client-surname" required>

    <label for="description">Description du problème:</label>
    <textarea id="description" required></textarea>
    <button type="submit">Envoyer la demande</button>
</form>

<div id="resultSchema"></div>


<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='rolling_list.js') }}"></script>
<script src="{{ url_for('static', filename='schema_validation.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>
