<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lawsuits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<h1>Lawsuits</h1>

<form method="POST" action="{{ url_for('handle_search') }}">
    <div class="search-option">
        <label for="search-criteria">Search by:</label>
        <select id="search-criteria" name="search-criteria">
            <option value="establishment-name">Establishment Name</option>
            <option value="owner-name">Owner Name</option>
            <option value="street-name">Street Name</option>
        </select>
        <input type="text" id="search-input" name="search-input" placeholder="Enter search term">
        <button type="submit">Search</button>
    </div>
    </form>
<div id="resultsContainer"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
