<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
<h1>Lawsuits</h1>

<form>
    <form>
        <div class="search-option">
            <label for="search-criteria">Search by:</label>
            <select id="search-criteria">
                <option value="establishment-name">Establishment Name</option>
                <option value="owner-name">Owner Name</option>
                <option value="street-name">Street Name</option>
            </select>
            <input type="text" id="search-input" placeholder="Enter search term">
            <button type="submit">Search</button>
        </div>
    </form>
</form>
</body>
</html>