<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lawsuitszz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>

<div id="modify-page" class="center-user">
    <h2>Welcome, {{ user.email }}</h2>
    <h3>Your followed Establishments</h3>
    <ul id="establishments-list">
        {% for establishment in establishments %}
        <li>{{ establishment }}</li>
        {% endfor %}
    </ul>
    <h1>Modify Establishments List</h1>
    <div class="form-element">
        <label for="establishments-signup-user">Monitored Establishments</label>
        <select id="establishments-signup-user">
            <option value="">Select an establishment</option>
            <!-- Options will be dynamically added here -->
        </select>
        <div class="input-container-user">
            <select id="dm-criteria-options-user" name="dm-search-criteria">
                <option value="Modify">Ajouter</option>
                <option value="Delete">Delete</option>
            </select>
            <input type="text" id="establishments-input-user" name="establishments">
<!--            <input type="text" id="md-search-input" name="search-input" placeholder="Establishment name">-->
            <button id="applyButton-user" type="submit">Apply</button>
        </div>
    </div>
    <h2>Upload Profile Photo</h2>
    <div class="form-element-image">
        <input type="file" id="profile-photo" accept="image/jpeg, image/png">
        <img id="uploaded-image" style="display: none;">
    </div>
    <button id="upload-button">Upload Photo</button>
</div>

<script src="{{ url_for('static', filename='drop_down_user.js')}}"></script>
<script src="{{ url_for('static', filename='user.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>
