<div id="quickSearchForm" [style.display]="showQuickSearchForm ? 'block' : 'none'">
    <h1 id="searchTitle">Formulaire de recherche rapide</h1>
    <div class="container">
        <form id="searchFormDate">
            <div class="search-option-rapide">
                <label for="date1">Date 1:</label>
                <input type="date" id="date1" name="date1">
            </div>
            <div class="search-option-rapide">
                <label for="date2">Date 2:</label>
                <input type="date" id="date2" name="date2">
            </div>
            <div class="rolling-list">
                <label>Restaurant:</label>
                <select id="restaurant-list">
                    <option value="">Select a restaurant</option>
                    <!-- Options will be dynamically added here -->
                </select>
            </div>
            <div class="search-option-rechercher">
                <button id="button-rechercher" type="submit">Rechercher</button>
                <div id="parentContainer">
                    <button id="closeButton" class="closeButton">Close</button>
                </div>
            </div>

        </form>
        <div class="dm-criteria">
            <label for="dm-criteria-options">Action:</label>
            <select id="dm-criteria-options" name="dm-search-criteria">
                <option value="Modify">Modify</option>
                <option value="Delete">Delete</option>
            </select>
            <input type="text" id="md-search-input" name="search-input" placeholder="Establishment name">
            <button id="applyButton" type="submit">Apply</button>
        </div>

        <div id="resultsTable"></div>
    </div>
</div>
